name: Push to json-csv (legacy)

on:
  push:
    branches: [ json-csv ]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  tests:
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    uses: ./.github/workflows/legacy-test.yml
  version:
    needs: tests
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    concurrency:
      group: 'versioning-automation'
      cancel-in-progress: false
    uses: iwsllc/workflows/.github/workflows/version-as-app.yaml@main
    with:
      ref: ${{ github.ref_name }}
      registry-url: 'https://registry.npmjs.org'
      node-version-file: '.nvmrc'
      cache: npm
      scope: '@iwsio'
      version-command: npm version patch
      tag-includes-name: true
    secrets:
      IWS_VERSION_BOT_PK: ${{ secrets.IWS_VERSION_BOT_PK}}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  publish:
    needs: version
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    uses: iwsllc/workflows/.github/workflows/publish.yaml@v5
    with:
      ref: ${{ github.ref_name }}
      registry-url: 'https://registry.npmjs.org'
      skip-node-auth: true
      cache: npm
      node-version-file: '.nvmrc'
      scope: '@iwsio'
      install-command: ""
      build-command: ""
      publish-command: npm publish --access public
    secrets:
      # This token is used for reading npm packages; use when private packages are used
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
